<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>资产平台</title>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
      $(function()(
    	$("#btn_1").click(function(){
    		alert("hello");
    	})	  
      )
</script>
</head>
<body>

<h2>信息资产管理</h2>
<a href="http://10.2.104.78:8000/admin/data/data/">资产管理平台</a>
<a href="http://10.2.104.78:8000/login/">资产搜集平台</a>
</body>
</html>